<div class="container">
  <div class="card">
    <div class="card-header">
      <h3>Employees</h3>
    </div>
    <div class="card-body">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Email</th>
            <th>Position</th>
            <th>Age</th>
            <th>Departments</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of employees" class="text-center">
            <td>{{employee.name}}</td>
            <td>{{employee.surname}}</td>
            <td>{{employee.email}}</td>
            <td>{{employee.position}}</td>
            <td>{{employee.age}}</td>
            <td><button (click)="View(employee)" class="btn btn-warning">View Departments</button></td>
            <td>
              <button (click)="Edit(employee)" class="btn btn-warning">Edit</button>
              <button
                type="button"
                style="margin-left: 10px"
                class="btn btn-danger"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
              >
                Change Status
              </button>
              <button (click)="AddDepartmentsEmployee(employee)" style="margin-left: 10px;" class="btn btn-success">Add Departments</button>

              <!-- Modal -->
              <div
                class="modal fade"
                id="exampleModal"
                tabindex="-1"
                aria-labelledby="exampleModalLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">
                        Confirmation
                      </h5>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>
                    <div class="modal-body">Do you want to change status?</div>
                    <div class="modal-footer">
                      <button
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal"
                      >
                        Close
                      </button>
                      <button
                        (click)="Change(employee)"
                        type="button"
                        data-bs-dismiss="modal"
                        class="btn btn-primary"
                      >
                        Yes
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
